services:
  frontend:
    image: node:18-alpine
    working_dir: /app
    user: "root"
    ports: ["4200:4200"]
    volumes: ["./frontend:/app"]
    command: sh -c "npm install && npm start -- --host 0.0.0.0 --poll 2000"

  backend:
    image: node:18-alpine
    working_dir: /app
    ports: ["3000:3000"]
    volumes: ["./backend:/app", "/app/node_modules"]
    command: sh -c "npm install && npm run dev"
    depends_on: ["mongodb"]
    environment: ["NODE_ENV=development", "MONGODB_URI=mongodb://mongodb:27017/tcc_pet"]

  mongodb:
    image: mongo:6.0
    ports: ["27017:27017"]
    volumes: ["mongodb_data:/data/db"]

volumes:
  mongodb_data: