services:
  frontend:
    image: node:18-alpine
    working_dir: /app
    user: "root"
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm start -- --host 0.0.0.0 --poll 2000"
    environment:
      - CHOKIDAR_USEPOLLING=true