<div class="container">
    <h2>{{pet.Nome}}</h2>  
    <div class="carousel-wrapper">
        <owl-carousel-o [options]="carouselOptions">             
            <ng-template carouselSlide *ngFor="let img of pet.Imagens">
                <div class="slide">
                    <img 
                        [src]="getUrlImagem(img)" alt="Foto do Pet" 
                        class="carousel-img">
                </div>
            </ng-template>
        </owl-carousel-o>         
    </div>

    <mat-form-field appearance="fill" class="round-input">
        <mat-label>Nome</mat-label>
        <input [value]="pet.Nome" matInput type="text" readonly />
    </mat-form-field>
    <mat-form-field appearance="fill" class="round-input">
        <mat-label>Raça</mat-label>
        <input [value]="pet.Raca" matInput type="text" readonly/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="round-input">
        <mat-label>Cor</mat-label>
        <input [value]="pet.Cor" matInput type="text" readonly />
    </mat-form-field>
    <mat-form-field appearance="fill" class="round-input">
        <mat-label>Idade</mat-label>
        <input
            matInput
            [value]="getIdade(pet.DtNascimento)"
            readonly/>      
    </mat-form-field> 
    <mat-form-field appearance="fill" class="round-input">
        <mat-label>Especie</mat-label>
        <input [value]="pet.Especie.Descricao" matInput type="text" readonly />
    </mat-form-field>       
    
    <mat-form-field appearance="fill" class="round-input">
        <mat-label>Sexo</mat-label>  
        <input 
            matInput 
            [value]="pet.Sexo === 'M' ? 'Macho' : 'Fêmea'" 
            type="text" 
            readonly />
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="round-input">
        <mat-label>Castrado?</mat-label>  
        <input
            matInput 
            [value]="pet.Castrado ? 'Sim' : 'Não'" 
            type="text" 
            readonly />
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="round-input">
        <mat-label>Vacinas</mat-label>
        <textarea
            matInput
            rows="4"
            [value]="pet.Vacinas"
            readonly>
        </textarea>
    </mat-form-field>            
</div>
<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()" style="background-color: rgb(192, 0, 0); color: white;">Cancelar</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Quero adotar</button>
</mat-dialog-actions>