.pet-card {
  width: 200px;
  border-radius: 16px;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10);
}


.img-container {
    width: 90%; 
    height: 250px; 
    overflow: hidden;
    margin-top: 15px;
    border-radius: 12px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pet-img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    display: block;
}

.icone {
  color: rgb(255, 145, 0);
}