<div class="login-container">
    <span class="material-icons login">account_circle</span>
    <h1>APP PET</h1>
    <mat-form-field appearance="fill" class="round-input">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="email" matInput type="text" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="round-input">
        <mat-label>Senha</mat-label>
        <input [(ngModel)]="senha" matInput type="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="login()">
        Login
    </button>
    <button mat-raised-button color="accent" (click)="criarCadastro()">
        Cadastrar
    </button>    
</div>