.login-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

::ng-deep .round-input .mat-mdc-text-field-wrapper {
  border-radius: 30px !important;
  padding: 0 14px !important;
}

::ng-deep .round-input .mdc-text-field--filled {
  border-radius: 30px !important;
  background-color: #fff; /* opcional */
  border: 1px solid #ccc; /* simula outline */
}

::ng-deep .round-input .mdc-line-ripple {
  display: none !important;
}

button {
    border-radius: 25px;
    min-width: 200px;
    justify-content: center;
    align-items: center;
}

.login {
  font-size: 72px;
  width: 72px;
  height: 72px;
}
