.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65px;

  background: #4C4C4C;
  
  display: flex;
  align-items: center;
  justify-content: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  z-index: 100;
}

.navbar ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-icons {
  font-size: 30px;
  color: #fff;
  opacity: 0.7;
  transition: 0.2s;  
}

.material-icons:hover{
    cursor: pointer;
}

.active .material-icons {
  opacity: 1;
}
