
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.btn-grande {
  width: 250px;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
}